{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <title>Портфоліо Максима</title>
    <link rel="stylesheet" href="{% static 'max/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="theme-title">Вступ</h1>
    <center><p>Привіт, читачу! Я - Максим, мені 16 років, і моє захоплення - програмування. На цій сторінці ти зможеш дізнатися мій життевий шлях, ознайомившись із моєю краткою біографією.</p></center>
    
    <h1 class="theme-title">Освіта</h1>
    <center><p>Свою навчальну подорож я почав бувши ще малюком у 2013 році, коли пішов до першого класу середньої школи "КЗО СЗШ №112 ДМР". В цьому навчальному закладі я успішно закінчив дев'ять класів, в слід чого отримав багаж знань і розуміння ким хочу стати у найближчому майбутньому, й саме через це, віришив складати іспит до коледжу, а не продоважувати навчання в 10, 11 класах.</p></center>
    
    <figure>
        <center>
            <p><img src="{% static 'max/img/school.jpg' %}" alt="Image of the school">
            <figcaption>Подвір'я школи "КЗО СЗШ №112 ДМР"</figcaption>
        </center>
    </figure>

    <center><p>Після закінчення школи, віришів навчатися за бажаною спеціальністю, тому склав вступний екзамен до фахового ракетно-космічного коледжу Дніпровського національного універсітету імені Олеся Гончара, де саме на цей час продовжую навчання й отримання освіти.</p></center>
    
    <figure>
        <center>
            <p><img src="{% static 'max/img/college.jpg' %}" alt="Image of the college">
            <figcaption>Подвір'я "Ракетно-космічного Коледжу"</figcaption>
        </center>
    </figure>
    
{% endblock %}