h1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 1px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: bisque;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(215, 77, 77);
    height: 75px;
}


footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 77, 77);
    min-width: 100%;
    min-height: 10%;
}